<nav>
    <ul>
        <li><a asp-controller="Home" asp-action="Index">Beranda</a></li>
        <li><a asp-controller="Attendance" asp-action="Create">Tambah Participants</a></li>
        <li><a asp-controller="Home" asp-action="Privacy">Privasi</a></li>
    </ul>
</nav>